.bundle
.idea/
doc/
log/*.log
/tmp/
tmp/
db/*.sqlite3
config/deploy.passwords.yml
config/deploy_ex.rb
config/gmail_stmp_settings.rb
.vagrant
Vagrantfile
nbproject

/coverage
/coverage.data
/config/fedora.yml
/.yardoc

atlassian-ide-plugin.xml