<p> You must connect and authorize this application in the Doxsite.
  Click here <%= link_to "OAuth Consumers", oauth_consumers_path %> to see the available services supported by this application.
</p>