<h2>All personal tags assets </h2>
<p> This page test the get and post method for tags.</p>
<p>
<li>The GET method will bring all the tags from dev.doxsite.com and display them on the list bellow.</li>
<li>You can test the DELETE method selecting one tag id and pressing "Delete tag". The list is filled again with the tags found on Doxsite application.</li>
</p>
<% form_tag('/tags/destroy')  do %>
  <div class="field">
    <%= label_tag "All Tags available:" %>
    <%= collection_select('tag', 'id_tag', @tags_obj, :first, :last) %>
  </div>
  <div class="actions">
    <%= submit_tag("Delete tag")%>
  </div>
<% end %>