<h2>File asset details</h2>
<p>
This page test the following API methods:
<li>GET information about current file asset</li>
<li>GET all tags of this file asset</li>
<li>GET all tags available</li>
<li>DELETE remove(untagging) tags from this file asset</li>
<li>POST tagging this file asset using one available tag </li>
</p>
<hr/>
<h5>File asset tags</h5>
<ol>
  <% @file_asset_tags.each do |tag| %>
    <li>
      <%= tag[0] %>
      <%= link_to "untag", untag_file_asset_path(@fa_id,:tag_id=>tag[0].sub("-",":")), :method =>:post %>
    </li>
  <% end %>
</ol>
<h5>Tag this file asset</h5>
<p>(the id is displayed in this list for testing purpose - the developer can also display the name of the tag, or any other information returned by GET method) </p>
<%= render "tags/tag_object", :controller=>"file_assets" %>


<%= link_to 'Back', file_assets_path %>
